<!DOCTYPE html>
<html lang="en" ng-app="cubantech" ng-controller="cubantechController">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta ng-repeat="meta in head.metadata" name="{{meta.name}}" content="{{meta.content}}">
    <link rel="icon" href="img/favicon.ico">

    <title ng-bind="head.title"></title>

    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/jquery.orgchart.min.css">
    <link href="css/site.css" rel="stylesheet">

    <script src="js/ie-emulation-modes-warning.js"></script>

    <!--[if lt IE 9]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="css/carousel.css" rel="stylesheet" />
    <link href="css/flags.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">&nbsp;</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav text-center navbar-right">
            <!--li class="active text-uppercase"><a href="#">
              <span class="nav-item-main">Home</span>
            </a></li-->
            <li ng-repeat="navItem in navBar" class="">
              <a href="{{navItem.href}}" class="text-uppercase" role="button" aria-haspopup="true" aria-expanded="false">
                <span class="nav-item-main" ng-class="{ 'target-item': location.pathname == navItem.href }" ng-bind="navItem.label"></span>
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle text-uppercase nav-item-main" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="flag flag-{{lang}}"></span> <span class="visible-lg-inline-block" ng-bind="general.language"></span><span ng-bind="'( ' + lang + ' )'" class="highlighted visible-lg-inline-block"></span> <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li ng-repeat="lng in langList" ng-click="useLanguage(lng)"><a href="#"><span class="flag flag-{{lng}}"></span> {{langMap[lng]}}</a></li>
                <!--li><a href="#es"><span class="flag flag-es"></span> Español</a></li>
                <li><a href="#fr"><span class="flag flag-fr"></span> Français</a></li-->
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="eventList col-xs-8">
        <!--div class="event-group">
          <div class="event-group-name">
            <h1>Sucediendo Hoy</h1>
          </div>
          <div class="event">
            <div class="panel panel-default event-card">
              <div class="panel-body">
                <div class="row event-header">
                  <h2 class="col-xs-7 event-title"> Cuban Tech Meetup #1 </h2>
                  <div class="rating col-xs-5 pull-right">
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star-o"></span>
                    <span class="icon fa fa-star-o"></span>
                  </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                  <div class="col-xs-12 event-agenda">
                    <div class="event-descriptor">
                      <span class="icon fa fa-calendar"></span>
                      <span class="event-descriptor-content">24/06/2018</span>
                    </div>
                    <div class="event-descriptor"> | </div>
                    <div class="event-descriptor">
                      <span class="icon fa fa-clock-o"></span>
                      <span class="event-descriptor-content">3:00pm</span>
                    </div>
                    <div class="event-descriptor"> | </div>
                    <div class="event-descriptor">
                      <span class="icon fa fa-map-marker"></span>
                      <span class="event-descriptor-content">3:00pm</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="event-content col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eaque, voluptatibus, officia in quos eligendi enim soluta qui, at, provident officiis id animi illum perferendis! Nisi quibusdam iusto, eum amet.
                  </div>
                </div>
                <div class="row">
                  <div class="event-buttons col-xs-12">
                    <div class="event-comments pull-left">
                      <a href="#">5 Comentarios <span class="fa fa-commenting-o"></span></a>
                    </div>
                    <div class="event-detail pull-right">
                      <a class="btn btn-lg btn-default" href="#" role="button"> ver programa </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr class="hr-little">
          </div>
        </div-->
        <div ng-repeat="group in eventGroups" class="event-group">
          <div class="event-group-name">
            <h1 ng-bind="group.groupName"></h1>
          </div>
          <div class="event" ng-repeat="event in group.eventList" ng-include="'event.htm'">
          </div>
          <!--div class="event">
            <div class="panel panel-default event-card">
              <div class="panel-body">
                <div class="row event-header">
                  <h2 class="col-xs-7 event-title"> Pyconn #2 </h2>
                  <div class="rating col-xs-5 pull-right">
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star"></span>
                    <span class="icon fa fa-star-o"></span>
                  </div>
                </div>
                <div class="separator"></div>
                <div class="row">
                  <div class="col-xs-12 event-agenda">
                    <div class="event-descriptor">
                      <span class="icon fa fa-calendar"></span>
                      <span class="event-descriptor-content">24/06/2018</span>
                    </div>
                    <div class="event-descriptor"> | </div>
                    <div class="event-descriptor">
                      <span class="icon fa fa-clock-o"></span>
                      <span class="event-descriptor-content">3:00pm</span>
                    </div>
                    <div class="event-descriptor"> | </div>
                    <div class="event-descriptor">
                      <span class="icon fa fa-map-marker"></span>
                      <span class="event-descriptor-content">3:00pm</span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="event-content col-xs-12">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A eaque, voluptatibus, officia in quos eligendi enim soluta qui, at, provident officiis id animi illum perferendis! Nisi quibusdam iusto, eum amet.
                  </div>
                </div>
                <div class="row">
                  <div class="event-buttons col-xs-12">
                    <div class="event-comments pull-left">
                      <a href="#">5 Comentarios <span class="fa fa-commenting-o"></span></a>
                    </div>
                    <div class="event-detail pull-right">
                      <a class="btn btn-lg btn-default" href="#" role="button"> ver programa </a>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <hr class="hr-little">
          </div-->
        </div>
        <ul class="pagination">
          <li><a href="">1</a></li>
          <li><a href="">2</a></li>
          <li><a href="">3</a></li>
          <li><a href="">4</a></li>
          <li><a href="">5</a></li>
        </ul>
      </div>
      <!--div class="col-xs-1">
        <div class="vertical-separator"></div>
      </div-->
      <div class="eventList col-xs-4">
        <div ng-repeat="group in statistics" class="event-group">
          <div class="event-group-name">
            <h1 ng-bind="group.groupName"></h1>
          </div>
          <div>
            <div class="event" ng-repeat="event in group.eventList" ng-include="event.type + '.htm'"></div>
          </div>
        </div>
      </div>
    </div>

    <!--div id="myCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li ng-repeat="(index, slide) in carousel" data-target="#myCarousel" data-slide-to="{{index}}" class="{{slide.class}}"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item {{slide.class}}" ng-repeat="slide in carousel">
          <img class="first-slide" src="{{slide.imageUrl}}" alt="{{slide.alt}}">
          <div class="container">
            <div class="carousel-caption">
              <h1> {{ slide.headline | uppercase }} </h1>
              <hr/>
              <p class="content" ng-bind="slide.content"></p>
              <p><a ng-repeat="btn in slide.buttons" class="btn btn-lg btn-default" href="{{btn.href}}" role="button">{{ btn.text | uppercase }}</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="icon-prev icon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="icon-next icon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div-->
    <!--div class="container marketing">
      <div class="row">
        <div class="col-lg-4" ng-repeat="mk in marketing">
          <div class="featurette-panel panel panel-default" ng-style="visual.marketing">
            <div class="center-block featurette-container">
              <span class="icon-{{mk.icon}} img-circle featurette-icon"></span>
            </div>
            <h2 ng-bind="mk.label"></h2>
            <hr class="dark">
            <p ng-bind="mk.content"></p>
            <p><a class="btn btn-primary text-uppercase" href="#" role="button">{{mk.btnLabel}} &raquo;</a></p>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid marketing marketing-inverse">
      <div class="container">
        <div ng-repeat="(idx, ft) in featurette">
          <div class="row featurette">
            <div class="col-md-5" ng-class="{'col-md-push-7' : idx % 2 == 1}">
              <img class="featurette-image img-responsive center-block" src="{{ft.image}}" alt="Generic placeholder image">
            </div>
            <div class="col-md-7" ng-class="{'col-md-pull-5' : idx % 2 == 1}">
              <div class="panel panel-default">
                <div class="hidden-xs hidden-sm" ng-class="{'panel-caret-left' : idx % 2 == 0, 'panel-caret-right' : idx % 2 == 1}">
                  <div class="panel-caret-inner"></div>
                </div>
                <div class="panel-caret-top visible-xs visible-sm">
                  <div class="panel-caret-inner"></div>
                </div>
                <div class="panel-body">
                  <h2 class="featurette-heading">{{ft.heading}} <span class="text-muted" ng-bind="ft.headingMuted"></span></h2>
                  <p class="lead" ng-bind="ft.content"></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="featurette-divider text-muted" ng-show="idx < featurette.length - 1">
        </div>
      </div>
    </div-->

    <footer id="footer">
      <div class="container-fluid">
        <div id="footer-links" class="container text-center">
          <div class="row">
            <div class="col-xs-6 text-align-left">
              <h4 class="text-uppercase text-info"><span class="fa fa-desktop"></span>cuban.tech</h4>
              <div class="row">
                <a ng-repeat="link in footer" href="{{link.href}}" class="text-info contact col-xs-6"><span class="fa fa-{{link.type}}"></span>{{link.content}}</a>
              </div>
            </div>
            <div class="col-xs-6">
              <img src="img/9.png" alt="">
              <div class="info text-uppercase text-info col-xs-4">comunidades</div>
              <div class="info text-uppercase text-info col-xs-4">tecnología</div>
              <div class="info text-uppercase text-info col-xs-4">educación</div>
            </div>
            <!--div class="col-md-2 col-sm-3 col-xs-5">
              <h4 class="text-uppercase text-info">Support us</h4>
              <ul class="list-unstyled">
                <li><a href="sponsors.html">Sponsorship</a></li>
                <li><a href="donate.html">Donations</a></li>
                <li><a href="store.html">Buy Stuff</a></li>
                <li><a href="thanks.html">Thanks</a></li>
              </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-10">
              <h4 class="text-uppercase text-info">Community</h4>
              <div class="row">
                <div class="col-xs-6 col-sm-12">
                  <ul class="list-unstyled">
                    <li><a href="events.html#meetups">Meet-ups</a></li>
                    <li><a href="events.html#conf">Conferences</a></li>
                    <li><a href="events.html#collab">Collaborations</a></li>
                  </ul>
                </div>
                <div class="col-xs-6 col-sm-12">
                  <ul class="list-unstyled">
                    <li><a href="participate.html">Get involved</a></li>
                    <li><a href="coc.html">Code of Conduct</a></li>
                  </ul>
                </div>
              </div>
            </div-->
          </div>
        </div>
        <div id="footer-copy" class="row bg-primary">
          <div class="col-md-12">
            <hr class="hr-little"/>
            <p class="pull-right"><a href="#"><span class="glyphicon glyphicon-chevron-up"></span></a></p>
            <p class="text-center"> &nbsp; &nbsp; &copy; {{thisYear}} {{signature}}</p>
          </div>
        </div>
      </div>
    </footer>

    <!--script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script-->
    <script type="text/javascript" src="js/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/jquery.orgchart.min.js"></script>
    <script type="text/javascript" src="js/angular.min.js"></script>
    <script type="text/javascript" src="js/main.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="js/holder.min.js"></script>
    <script src="js/ie10-viewport-bug-workaround.js"></script>

    <!-- ng templates -->
    <script type="text/ng-template" id="chart.htm">
      <div class="event">
        <div class="panel panel-default event-card-mini">
          <div class="panel-body">
            <div class="row event-header">
              <h2 class="event-title col-xs-12" ng-style="{'background-color' : event.headerColor }">
                <span class="fa fa-{{event.icon}}"></span>
                {{event.title}}
              </h2>
            </div>
            <div class="row">
              <div class="event-content">
                <canvas height="300" id="{{event.title}}" ng-bind="createDataset(event)"></canvas>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-little">
      </div>
    </script>

    <script type="text/ng-template" id="carousel.htm">
      <div class="event">
        <div class="panel panel-default event-card-mini">
          <div class="panel-body">
            <div class="row">
              <div class="event-content no-padding">
                <div id="myCarousel" class="carousel carousel-mini slide">
                  <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="2" class=""></li>
                    <li data-target="#myCarousel" data-slide-to="3" class=""></li>
                  </ol>
                  <div class="carousel-inner carouse-mini-inner" role="listbox">
                    <div class="item active">
                      <img src="img/1.jpg" alt="lala">
                    </div>
                    <div class="item">
                      <img src="img/2.jpg" alt="lala">
                    </div>
                    <div class="item">
                      <img src="img/3.jpg" alt="lala">
                    </div>
                    <div class="item">
                      <img src="img/4.jpg" alt="lala">
                    </div>
                  </div>
                  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="icon-prev icon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="icon-next icon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div-->
      <hr class="hr-little">
    </script>

    <script type="text/ng-template" id="event.htm">
      <p class="hidden" ng-bind="processEvent(event)"></p>
        <div class="panel panel-default event-card">
          <div class="panel-body">
            <div class="row event-header">
              <h2 class="col-xs-7 event-title" ng-bind="event.title"></h2>
              <div class="rating col-xs-5 pull-right">
                <span class="icon {{event.rating[0]}}"></span>
                <span class="icon {{event.rating[1]}}"></span>
                <span class="icon {{event.rating[2]}}"></span>
                <span class="icon {{event.rating[3]}}"></span>
                <span class="icon {{event.rating[4]}}"></span>
              </div>
            </div>
            <div class="separator"></div>
            <div class="row">
              <div class="col-xs-12 event-agenda">
                <div ng-repeat="(index, descriptor) in event.descriptors" class="event-descriptor">
                  <div ng-show="index != 0" class="event-descriptor"> | </div>
                  <div class="event-descriptor">
                    <span class="icon fa fa-{{descriptor.type}}"></span>
                    <span class="event-descriptor-content" ng-bind="descriptor.content"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="event-content col-xs-12" ng-bind="event.content"></div>
            </div>
            <div class="row">
              <div class="event-buttons col-xs-12">
                <div class="event-comments pull-left">
                  <a href="#">{{event.comments}}<span class="fa fa-commenting-o"></span></a>
                </div>
                <div class="event-detail pull-right">
                  <a class="btn btn-lg btn-default" href="#" role="button" ng-bind="event.detailBtn"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr class="hr-little">
    </script>

    <!-- end ng templates -->
  </body>
</html>
